
.mainnav ul{
  display:flex;
  padding: 2px;
  text-align: center;
  justify-content: center; /* Horizontally centers the <ul> */
 
}

.navList{

  text-decoration: none;

}

.navList li{
  padding: 20px;
  font-size: 20px;
  list-style: none;
  color: rgb(255, 254, 254);
}

.navList li:hover {
  font-size: 26px; 
  text-decoration: none; 
  }

.imgcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.coderimg{
  border-radius: 12px;
  box-shadow:0px 0px 3px whitesmoke ;
  margin-right: 10px;
}
